---
---
//blue Color Swatches
$blue00: #b0e0e6;
$blue01: #ADD8E6;
$blue02: #89CFF0;
$blue03: #99BADD;
$blue04: #73C2fb;
$blue05: #5D8AA8;
$blue06: #4682B4;
$blue07: #1E90FF;
$blue08: #4169E1;
$blue09: #00BFFF;
$blue10: #007FFF;
$blue11: #1CA9C9;
$blue12: #6699CC;
$blue13: #9BDDFF;
$blue14: #6488ea;
$blue15: #1805db;
$blue16: #0054B4;
$blue17: #00009C;
$blue18: #0000CD;
$blue19: #120A8F;
$blue20: #00008B;
$blue21: #000080;
$blue22: #003366;
$blue23: #000133;
$blue24: #002147;
$blue25: #40E0D0;
$blue26: #4d4dff;
