---
---
//shades of gray Color
$gray00: #ffffff;
$gray01: #f8f8f8;
$gray02: #f5f5f5;
$gray03: #f0f0f0;
$gray04: #e8e8e8;
$gray05: #e0e0e0;
$gray06: #dcdcdc;
$gray07: #d8d8d8;
$gray08: #d3d3d3;
$gray09: #d0d0d0;
$gray10: #c8c8c8;
$gray11: #c0c0c0;
$gray12: #bebebe;
$gray13: #b8b8b8;
$gray14: #b0b0b0;
$gray15: #a9a9a9;
$gray16: #a8a8a8;
$gray17: #a0a0a0;
$gray18: #989898;
$gray19: #909090;
$gray20: #888888;
$gray21: #808080;
$gray22: #787878;
$gray23: #707070;
$gray24: #696969;
$gray25: #686868;
$gray26: #606060;
$gray27: #585858;
$gray28: #505050;
$gray29: #484848;
$gray30: #404040;
$gray31: #383838;
$gray32: #303030;
$gray33: #282828;
$gray34: #202020;
$gray35: #181818;
$gray36: #101010;
$gray37: #080808;
$gray38: #000000;